body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
.sidebar {
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  .sidebar a {
      color: rgb(104, 101, 101);
      margin-left: 20px;
      text-decoration: none;
      display: block;
      padding: 10px;
  }   
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  .sidebar .title{
      position: fixed;
      margin-bottom: 80px;
      display: block;
  }
  
header{
    font-size: 20px;
    padding: 5px;
    font-weight: bolder;
    text-align: left;
    margin-bottom: 15px;
}
p,li{
    color: #555;
    font-size: 15px;
}

  div.content {
    margin-left: 300px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }